<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/face') %>
        <%- include('block/where') %>
        <%- include('block/list') %>
        <%- include('block/warning') %>
        <%- include('block/product') %>
        <%- include('block/def') %>
        <%- include('block/help') %>
        <%- include('block/ingredients') %>
        <%- include('block/professional') %>
        <%- include('block/commits') %>
        <%- include('block/face') %>
        <footer class="footer">Global Partners LTD</footer>
    </div>
    <%- include('block/script') %>
</body>

</html>